h6 {
    font-weight: bold;
}

li {
    list-style: none;
}

.folders {
    color: #d1cda3;
}

.icons {
    padding-right: 5px;
}

.active-item {
    background-color: #eee;
}

.active-item a {
    font-weight: bold;
}

