
<div class="row">
    <div ng-if='pathDisplay !== "/"' class="six columns">
    <h6 style="text-align: center">Previous: {{prevPathDisplay}}</h6>
      <ul>
            <li ng-repeat="file in prevFiles" ng-switch="notFile(file)">
                <span ng-switch-when="true"><span class="folders icons"><i class="fa fa-folder" aria-hidden="true"></i></span><a ng-href="{{prevPath}}/{{file}}" >{{file}}</a></span>
                <span ng-switch-when="false"><i class="fa fa-file-o icons" aria-hidden="true"></i> {{file}}</span>
            </li>
        </ul>
    </div>
    <div class="six columns">
    <h6 style="text-align: center">Current: {{pathDisplay}}</h6>
        <ul>
            <li ng-repeat="file in currentFiles" ng-switch="notFile(file)">
                <span ng-switch-when="true"><span class="folders icons"><i class="fa fa-folder" aria-hidden="true"></i></span><a ng-href="{{path}}/{{file}}" >{{file}}</a></span>
                <span ng-switch-when="false"><i class="fa fa-file-o icons" aria-hidden="true"></i> {{file}}</span>
            </li>
        </ul>
    </div>
</div>